@model List<LigaTabajara.Models.ArtilheiroViewModel >

<h2>Artilharia</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Jogador</th>
            <th>Time</th>
            <th>Gols</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var artilheiro in Model)
        {
            <tr>
                <td>@artilheiro.Nome</td>
                <td>@artilheiro.Time</td>
                <td>@artilheiro.Gols</td>
            </tr>
        }
    </tbody>
</table>
