@model List<LigaTabajara.Controllers.TimeStatusViewModel>
@{
    ViewBag.Title = "Página Inicial";
}

<h2>Bem-vindo à Liga Tabajara!</h2>

<p>Status da Liga: <strong>@ViewBag.StatusLiga</strong></p>

<hr />
<h3>Times Participantes</h3>
<table class="table">
    <thead>
        <tr>
            <th>Nome do Time</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Time.Nome</td>
                <td>@item.Status</td>
                <td>@Html.ActionLink("Ver detalhes", "Details", "Times", new { id = item.Time.Id }, null)</td>
            </tr>
        }
    </tbody>
</table>
